target
.env
.DS_Store
node_modules
build
.svelte-kit
package
package-lock.json
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*+layout.server.ts
.netlify
old-ui
/target
.shuttle*
Secrets*.toml
ref
cli/kubejs
kubejs_test
.pkl-lsp

*.tgz
supabase
pocketbase
pb_data
minio_data
ModHost.toml
ModHost.toml.*
/config.pkl
/default-config.pkl
config.kjspkg.pkl
config.astro.pkl
!apps/server/ModHost.toml

.pgdump
.minio
.meili
.otel-lgtm

# Dev
docker-compose.yml
prometheus.yaml
