import "./pkl/ModHost.pkl"

app: ModHost.AppConfig = new {
    server {
        host = "127.0.0.1"
        port = 4000
    }

    postgres {
        host = "127.0.0.1"
        port = 5432
        user = "greenmods"
        pass = "change me!"
        database = "greenmods"
    }

    meilisearch {
        host = "localhost"
        port = 7700
        protocol = "http"
        key = "change me!"

        indexes {
            projects = "projects"
        }
    }

    auth {
        github {
            client_id = "change me!"
            client_secret = "change me!"
        }
    }

    storage {
        s3 {
            region = "change me!"
            endpoint = "change me!"
            access_key = "change me!"
            secret_key = "change me!"
        }

        buckets {
            projects = "projects"
            gallery = "gallery"
        }
    }

    ui {
        app = "greenmods"
        tagline = "Subnautica 2 mods that say what they support"
        show_beta = true
        show_commit = true
        default_theme = "greenmods"
        theme_color = "#16a34a"
        badge_base = "#191d28"
        badge_secondary = "#16a34a"

        favicon {
            ico = "default"
            png = "default"
        }

        game {
            beta_name = "Beta"
        }

        projects {
            kind = "Mods"

            file_formats = List(
                ".pak",
                ".ucas",
                ".utoc",
                ".zip",
                ".tar.gz"
            )
        }
    }

    admin {
        stats {
            interval = 5.s
        }
    }
}

output {
    value = app
    renderer = ModHost.renderer()
}
